*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --calculator-width: 22rem;
  --calculator-padding: 1.5rem;
  --calculator-border-size: 0.0625rem;
  --buttons-gap: 0.5rem;
  --button-size: calc(
    (
      var(--calculator-width) -
      2 * var(--calculator-padding) -
      2 * var(--calculator-border-size) -
      3 * 0.5rem
    ) / 4
  );
}

body {
  background-color: #202020;
  color: white;
  font-family: sans-serif;
}

#calculator {
  background-color: black;
  border: var(--calculator-border-size) solid #bdbab6;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  height: 46rem;
  justify-content: end;
  outline: 0.125rem solid #92908b;
  padding: 1.5rem;
  width: 22rem;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

button {
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
  height: var(--button-size);
  width: var(--button-size);
}

.tool {
  background-color: #5c5c5f;
}

.operator {
  background-color: #ff9f0a;
  font-size: 2.5rem;
}

.number {
  background-color: #2a2a2c;
}
